/* COMMON */
$color1: rgb(241, 90, 92);
$color2: rgb(29, 64, 86);
$color3: rgb(28, 28, 28);
$color4: rgb(239, 239, 239);
$color1-op-50: rgb(241, 90, 92, 0.5);
$color2-op-50: rgb(29, 64, 86, 0.5);
$color1-op-10: rgb(241, 90, 92, 0.1);
$color2-op-10: rgb(29, 64, 86, 0.1);
$color1-op-30: rgb(241, 90, 92, 0.3);
$color2-op-30: rgb(29, 64, 86, 0.3);

$vendors: ("", "-webkit-", "-moz-", "-ms-", "-o-");


/* BOOTSTRAP */
$font-family-sans-serif: var(--font-montserrat);
$primary: $color1;
$secondary: $color2;
$navbar-light-color: $color2;
$navbar-light-hover-color: $color1;
$navbar-light-active-color: $color1;
$navbar-nav-link-padding-x: 1rem;